body{
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
#sideways a {
    position:absolute;
    left: -80px;
    transition: 0.3s;
    padding: 15px;
    width: 100px;
    text-decoration: none;
    font-size: 16px;
    border-radius: 0 5px 5px 0;
}
#sideways a:hover {
	left: 0;
}

#all {
	top: 140px;
	background-color: #4CAF50;
	color: white;
}

#active {
	top: 200px;
	background-color: #2196F3;
	color: white;
}

#complete {
	top: 260px;
	background-color: #f44336;
	color: white;
	font-size: 10px;
}
#title{
	text-align: center;
}
#task {
	margin-left:80px;
	margin-top:40px;
}
.done-true {
	text-decoration: line-through;
	color: grey;
}
