#sideways a {
    position:absolute;
    left: -80px;
    transition: 0.3s;
    padding: 15px;
    width: 70px;
    text-decoration: none;
    font-size: 20px;
    border-radius: 0 5px 5px 0;
    writing-mode: vertical-rl;
    text-orientation: upright;
}
#sideways a:nth-child(2) {
	top: 230px;
}
#sideways a:nth-child(3) {
	top: 380px;
}
#sideways a:hover {
	left: 0;
}

#all {
	top: 140px;
	background-color: #4CAF50;
}

#active {
	top: 200px;
	background-color: #2196F3;
}

#complete {
	top: 260px;
	background-color: #f44336;
}
#task {
	margin-left:80px;
	margin-top:40px;
}
.done-true {
	text-decoration: line-through;
	color: grey;
}
