body{
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	background: linear-gradient(to left, #834d9b, #d04ed6);
	color: white;
}
#sideways a {
    position:absolute;
    left: -80px;
    transition: 0.3s;
    padding: 15px;
    width: 70px;
    text-decoration: none;
    font-size: 16px;
    border-radius: 0 5px 5px 0;
    writing-mode: vertical-rl;
    text-orientation: upright;
}
#sideways a:nth-child(2) {
	top: 230px;
}
#sideways a:nth-child(3) {
	top: 380px;
}
#sideways a:hover {
	left: 0;
}

#all {
	top: 140px;
	background-color: #4CAF50;
	color: white;
}

#active {
	top: 200px;
	background-color: #2196F3;
	color: white;
}

#complete {
	top: 260px;
	background-color: #f44336;
	color: white;
	font-size: 10px;
}
#title{
	text-align: center;
}
#task {
	margin-left:80px;
	margin-top:40px;
}
.done-true {
	text-decoration: line-through;
	color: grey;
}
ul{
	list-style-type: none;
	margin: 0;
	padding: 0
}


	  input[type=text] {
       
    border-color: red;
    border-style: solid;
    border-width: 1px;
}
input:hover {
    border-color: blue;
}
