<!DOCTYPE html>
<html>
	<head>
		<title>Bijaka - A simple todo list</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.4/angular.min.js"></script>
		<script src="index.js"></script>
		<link rel="stylesheet" type="text/css" href="index.css">
	</head>
	<body ng-app="app">
		<h1>Todo List</h1>
		<div ng-controller="todoCtrl as todoList">
			<form ng-submit="todoList.addTodo()">
				<input type="text" name="itodo" ng-model="todoList.todoText" placeholder="Add new here">
				<input class="btn-primary" type="submit" value="add">
			</form>
			<div id="sideways">
				<a href="#" id="all">All</a>
				<a href="#" id="active">Active</a>
				<a href="#" id="complete">Complete</a>
			</div>
			<div id="task">
				<span>{{todoList.remaining()}} of {{todoList.todos.length}} left</span>
				<ul class="unstyled">
					<li ng-repeat="todo in todoList.todos">
						<label class="checkbox">
							<input type="checkbox" ng-model="todo.done">
							<span class="done-{{todo.done}}">{{todo.text}}</span>
						</label>
					</li>
				</ul>
			</div>
		</div>
	</body>
</html>
