.section {
	padding: 1rem 0;
}
.center{
	text-align: center;
}
#task{
    overflow-y: scroll;
    max-height: 200px;

}
.half-width{
	width: 50%;
	margin: 0 auto;	
}

ol{

}
li{
    padding: 1rem;
    margin: 0rem;
    font-size: 1.5rem;
    transition: background-color 0.25s ease-in-out;	
    border-radius: 0.2rem;
}
li:hover{
    background-color: #e6e6e6;
    padding: 1rem;
    margin: 0rem;	
}

input[type="checkbox"]{
  width: 2rem; /*Desired width*/
  height: 2rem; /*Desired height*/
}
input{
	margin-bottom: 0;
}

.right{
	float: right;
}

.greybackground{
	background-color: #e6e6e6;
}