.section {
	padding: 1rem 0;
}
.center{
	text-align: center;
}
#task{
    overflow-y: auto;
    max-height: 400px;

	

}
.half-width{
	width: 50%;
	margin: 0 auto;	
}
img {
    border: 0;
    width: 100px !important;
}

ol{

}
input.button-primary
{
	 background-color: #5f9ea0 !important;
	 color: #fff !important;
	 
}
li{
    padding: 1rem;
    margin: 0rem;
    font-size: 1.5rem;
    transition: background-color 0.25s ease-in-out;	
    border-radius: 0.2rem;
	    background: #5f9ea0;
    margin-bottom: 15px;
    color: #fff;
}
li:hover{
    background-color: #5f9ea0;
    padding: 1rem;
    /* margin: 0rem;	 */
}

input[type="checkbox"]{
  width: 2rem; /*Desired width*/
  height: 2rem; /*Desired height*/
}
input{
	margin-bottom: 0;
}

.right{
	float: right;
}

.greybackground{
	background-color: #e6e6e6;
}